.consultation{
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../../images/bg2.png) center (center/cover) no-repeat;
    &_descr{
        font-size: 20px;
        font-weight: 500;
        color: white;
    }
    .error{
        border: 1px solid red;
        text-align: center;
       }
       label.error{
        color: white;
    border: none;
    margin-bottom: 15px;
    text-align: center;
       }
}